<pl-question-panel>
  <p>${description}</p>
  <pl-workspace></pl-workspace>
</pl-question-panel>

<pl-submission-panel>
  <p>Completed missions: {{feedback.completed_missions}} out of {{feedback.total_missions}}</p>
  <p>{{feedback.message}}</p>
</pl-submission-panel>